spring:
  application:
    name: demo
  datasource:
    url: jdbc:postgresql://localhost:5433/komi_db
    username: your_db_username
    password: your_db_password
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
